<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GO">
        <activity
            android:name=".play.PaySBActivity"
            android:exported="false" />
        <activity
            android:name=".play.PayCGActivity"
            android:exported="false" />
        <activity
            android:name=".play.PayActivity"
            android:exported="false" />
        <activity
            android:name=".goodes.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".goodes.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".department.DepartmentADDActivity"
            android:exported="false" />
        <activity
            android:name=".department.DepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".repair.RepairADDActivity"
            android:exported="false" />
        <activity
            android:name=".repair.RepairActivity"
            android:exported="false" />
        <activity
            android:name=".patroles.PatrplesADDActivity"
            android:exported="false" />
        <activity
            android:name=".patroles.PatrplesActivity"
            android:exported="false" />
        <activity
            android:name=".visitor.VisitorADDActivity"
            android:exported="false" />
        <activity
            android:name=".visitor.VisitorActivity"
            android:exported="false" />
        <activity
            android:name=".parking.ParkingADDActivity"
            android:exported="false" />
        <activity
            android:name=".parking.ParkingVRActivity"
            android:exported="false" />
        <activity
            android:name=".parking.ParkingActivity"
            android:exported="false" />
        <activity
            android:name=".sing.YdSingActivity"
            android:exported="false" />
        <activity
            android:name=".sing.SingActivity"
            android:exported="false" />
        <activity
            android:name=".news.NewsAddActivity"
            android:exported="false" />
        <activity
            android:name=".news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".registert.RegistertActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>